<link href="/stylesheets/addConsumer.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form role="form" action="/consumer" method="post">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="contactInfoPanelHeading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#contactInfoCollapseDiv" aria-expanded="true" aria-controls="contactInfoCollapseDiv">
                  פרטי יצירת קשר
                </a>
              </h4>
            </div>
            <div id="contactInfoCollapseDiv" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="contactInfoPanelHeading">
              <div class="panel-body">
               <div class="form-group">
                <label for="consumerName">שם</label>
                <input type="text" class="form-control" id="consumerName" name="name">
              </div>
              <div class="form-group">
                <label for="consumerPhoneNumber">טלפון</label>
                <input type="tel" class="form-control" id="consumerPhoneNumber" name="phoneNumber">
              </div>
              <div class="form-group">
                <label for="datesAvailable">תאריכים פנויים</label>
                <input type="text" class="form-control" id="datesAvailable" name="convenientDates">
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="itemInfoPanelHeading">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#itemInfoCollapseDiv" aria-expanded="false" aria-controls="itemInfoCollapseDiv">
                פרטי הפריט הדרוש
              </a>
            </h4>
          </div>
          <div id="itemInfoCollapseDiv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="itemInfoPanelHeading">
            <div class="panel-body">
              <div class="form-group">
                <label for="itemCategory">סוג פריט</label>
                <select class="form-control" id="itemCategory" name="itemCategory">
                  <option value="ארון">ארון</option>
                </select>
              </div>
              <div class="form-group">
                <label for="itemNotesTextArea">הערות</label>
                <textarea class="form-control" rows="3" id="itemNotesTextArea" name="itemNotes"></textarea>
              </div>
{{!--               <div class="checkbox">
                <label>
                  <input type="checkbox"  name="itemRequiresDismanteling"> דורש פירוק
                </label>
              </div> --}}
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="addressPanelHeading">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#addressCollapseDiv" aria-expanded="false" aria-controls="addressCollapseDiv">
                כתובת הפונה
              </a>
            </h4>
          </div>
          <div id="addressCollapseDiv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="addressPanelHeading">
            <div class="panel-body">
              <div class="form-group">
                <label for="address">כתובת</label>
                <input type="text" class="form-control" id="address" name="geoDisplayString" placeholder="כתובת">
              </div>
              <div class="form-group">
                <label for="floor">קומה</label>
                <input type="text" class="form-control" id="floor" name="floor">
              </div>
              <div class="form-group">
                <label for="apartmentNumber">מספר דירה</label>
                <input type="text" class="form-control" id="apartmentNumber" name="flatNumber">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="hasElevator" id="hasElevator"> מעלית
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="hasParking" id="hasParking"> חניה
                </label>
              </div>

              <!-- Hidden elements -->
              <div>
                <input type="text" class="hiddenInput" id="lat" name="latitude">
                <input type="text" class="hiddenInput" id="lon" name="longitude">
                <input type="text" class="hiddenInput" id="geoCompleteAddress" name="geoCompleteAddress">
              </div>

              <div class="form-group">
                <label for="addressNotesTextArea">הערות</label>
                <textarea class="form-control" rows="3" id="addressNotesTextArea" name="addressNotes"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" id="submitButton" class="btn btn-default">הוסף פניה</button>
    </form>
  </div>
</div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="/javascripts/geocomplete/jquery.geocomplete.js"></script>

<script>
  $('#address').geocomplete()
  .bind("geocode:result", function(event, result){
    var lat = result.geometry.location.lat();
    var lon = result.geometry.location.lng();
    var geoCompleteAddress = result.formatted_address;
    $('#lat').val(lat);
    $('#lon').val(lon);
    $('#geoCompleteAddress').val(geoCompleteAddress);
  });

  $('#submitButton').off('click').on('click', function() {
    var consumerToCreate = {
      name: $('#consumerName').val(), 
      phoneNumber: $('#consumerPhoneNumber').val(),
      convenientDates: $('#datesAvailable').val(),
      item: {
        category: $('#itemCategory').val(),
        //requiresDismanteling: true,
        description: $('#itemNotesTextArea').val()
      },
      address: {
        geoQueryString: $('#geoCompleteAddress').val(),
        geoDisplayString: $('#address').val(),
        latitude: $('#lat').val(),
        longitude: $('#lon').val(),
        floor: $('#floor').val(),
        flatNumber: $('#apartmentNumber').val(),
        hasElavator: $('#hasElevator').is(":checked"),
        hasParking: $('#hasParking').is(":checked"),
        description: $('#addressNotesTextArea').val()
      }
    }

    $.ajax({
      type: "POST",
      url: "/consumers",
      data: JSON.stringify(consumerToCreate),
      contentType: 'application/json;charset=UTF-8',
      success: function(data) {
        console.log("Created consumer successfully");
      },
      error: function(request, errorString) {
        alert("Failed creating consumer. Error: " + errorString);
      },
      dataType: 'json'
    });
    console.log(JSON.stringify(consumerToCreate));

  });

</script>