
<form action="/users" method="post">
	<h3>Username</h3>
	<input type="text" name="username"/>
	<h3>Password</h3>
	<input type="text" name="password">
	<br>
	<br>
	<button type="submit">Add user</button>
</form>
