th, tr, .datePicker {
  text-align: center;
}

.carTypeIconColumn {
  width: 80px;
}

.availableDuration {
  width: 40px;
}

.timePicker, .nameTd {
  width: 75px;
}

.availableDurationInput {
  width: 20px;
}

.datePicker {
  /*border: 0px;*/
  /*background-color: transparent;*/
  width: 85px;
}

.page-header {
  text-align: right;
  right: 0px;
}

#carDetailsRow .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  border: 0;
  color: black;
  background-color: transparent;
}

label {
  text-align: right !important;
}

.page-header {
  margin-top: 15px;
}

.sendCarEmailRow .row {
  margin: 20px;
}

.sendCarEmailRow div[contenteditable="true"] {
  border: 1px solid #ccc;  
}
