th, tr, .datePicker {
  text-align: center;
}

.carTypeIconColumn {
  width: 80px;
}

.availableDuration {
  width: 40px;
}

.timePicker {
  width: 75px;
}

.datePicker {
  /*border: 0px;*/
  /*background-color: transparent;*/
  width: 85px;
}

.page-header {
  text-align: right;
  right: 0px;
}

#carDetailsRow .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.carSearchRow {
  margin-top: 10px;
  margin-bottom: 20px; 
}

input {
  border: 0;
  color: black;
  background-color: transparent;
}

label {
  text-align: right !important;
}