th, tr {
  text-align: center;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}

.addressNotesTableHeader {
  min-width: 150px;
}

.editIcon {
	margin-left: 10px;
}

td:focus {
    background-color: pink !important;
}

.rowBeingEdited {
	border-width: 3px;
	border-color: green;
	border-style: double;
}