/* Prevent the changed cursor when hovering over disabled checkboxes */
input[type="checkbox"][disabled] {
    cursor: default;
}

/* Make the google maps link have the style of a link */
a input[disabled] {
	cursor: pointer !important;
	color: rgb(42, 100, 150);
}

.addressTd input {
	text-overflow: ellipsis;
}