#donor-item-image-carousel {
	margin-top: 60px;
}

#donorItemImageDeleteIcon {
	position: relative;
	left: -100px;
}

.newDonorFormRow {
	margin-top: 20px;
}

#finishAddingItemsRow {
	margin-top: 10px;	
}

#donorsFilterRow {
	padding: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;
}