#donor-item-image-carousel {
	margin-top: 60px;
}

#donorItemImageDeleteButton {
	position: relative;
	left: -100px;
}

.newDonorFormRow {
	margin-top: 20px;
}

#finishAddingItemsRow {
	margin-top: 10px;	
}

#donorsFilterRow {
	padding: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;
}

#donorTitleRow {
	color: #61645E;
	padding-right: 30px;
	background-color: #CBCBCB;
}

#donorTitleRow h5 {
	font-weight: bold;
}

.donorRow {
	margin-top: 3px;
	background-color: #F1F1F1;
	padding: 10px;
	padding-right: 30px;
}

#donorRowsContainerColumn:not(.empty) {
	border-left-style: solid;
	border-left-width: 3px;
	border-top-width: 2px;
}

#donorRowsContainerColumn a {
	color: black;
}

#donorRowsContainerColumn .itemImagesLink a {
	color: #428bca;
}

.donorRow:hover { 
   /* background-color: #B9DAC9;*/
    cursor: pointer;
}

.itemDescriptionParagraph {
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap; 
}

.panelContainer {
	padding-left: 15px;
	padding-right: 15px;
}

#donorsFilterRow {
	margin-top: 10px;
	margin-bottom: 10px;
}

div .selectedRow {
	background-color: #B9DAC9;
}

#updateDonorOkIcon {
	color: green;
	font-size: 1.2em;
	display: none;
}

#donorDetailsForm {
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	margin-left: 4px;
	padding: 5px;
}

#donorsFilterRow h3 {
	margin-top: 0;
}

#donorsPageHeader {
	margin-bottom: 0;
}