body {
  /* Move down content because we have a fixed navbar that is 50px tall */
  padding-top: 50px;
  
  direction: rtl;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.editIcon {
	margin-left: 10px;
}

td:focus {
    background-color: pink !important;
}

.rowBeingEdited {
	border-width: 3px;
	border-color: green;
	border-style: double;
}

.italicText {
	font-style: italic;
}

.searchRow {
  margin-top: 10px;
  margin-bottom: 20px; 
}

table input {
  text-align: center;
}

.xSmallWidth {
  width: 25px;
}

.smallWidth {
  width: 50px;
}

.mediumWidth {
  width: 90px;
}

.editIconsSection {
  width: 70px;
}